<div>
    <h1>CART</h1>
    {% if msg %}
     <p  style="color:red">{{msg}}</p>
    {% endif %}
    <hr>
    <p>{{request.session.cart}}</p>
    {% for p in request.session.cart %}
    <p>Id : {{p.id}}</p>
    <p>Description: {{p.product.product_name}}</p>
    <p>Price :Rs {{p.product.price}}</p> 
    <img class='img-responsive'src="{{ MEDIA_URL }}{{p.product.image.url}}" width="400" 
    height="500"/>

    <!-- <form>
        {% csrf_token %}
        <button type="submit" name="action" value="increment">+</button>
        <input type="number" name="qty" value="{{ count}}">
        <button type="submit" name="action" value="decrement">-</button>
        </form> -->
        <a href="/remove_from_cart/{{p.id}}">Remove from  Cart</a>
    <hr>
    {%  endfor %}
    <h2>Total Amount : {{total_sum}}</h2>
   

   
</div>