{% extends 'header.html' %}

{% block content %}
<div>
    <h1>CART</h1>
    {% if msg %}
     <p  style="color:red">{{msg}}</p>
    {% endif %}
    <hr>
    {% for p_id , p in request.session.cart.items %}
    <p>ID : {{p_id}}</p>
    <p>Name: {{p.name}}</p>
    <p>Price :Rs {{p.price}}</p>
    <p>Quantity : {{p.quantity}}</p> 
    <img class='img-responsive'src="/media/{{ MEDIA_URL }}{{p.image}}" width="400" 
    height="500"/>

    <!-- <form>
        {% csrf_token %}
        <button type="submit" name="action" value="increment">+</button>
        <input type="number" name="qty" value="{{ count}}">
        <button type="submit" name="action" value="decrement">-</button>
        </form> -->
        <a href="/remove_from_cart/{{p_id}}">Remove from  Cart</a>
    <hr>
    {%  endfor %}
    <h2>Total Amount : {{total_sum}}</h2>
   
    {% endblock %}
   
</div>