{% extends 'header.html' %}
{% block content %}

<style>
    body {
        background-color: #333;
    }
</style>
<form action="" method="post">
    {% csrf_token %}

    <div class="mb-3 m-3 mt-5">
        {{form.as_p}}

    <div class="col-md-12 mt-2"><label class="labels">Confirm password</label><input  name='confirm_password' class="form-control" type="password"  placeholder="Conform password "></div>
     
    <button type="submit" class="btn btn-primary mt-5 ">Submit</button>
    </div>

   
    
</form>

{% endblock %}