{% extends 'header.html' %}

{% block content %}
<style>
     .hero-section{
    width: 100%;
    height: calc(100vh - 120px);
    background-image: url('https://thumbs.dreamstime.com/b/e-commerce-concept-goldfish-cart-47156312.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-section .sub-heading{
    margin-top: 10px;
    text-align: center;
    color: black;
    font-weight: bold;
    text-transform: capitalize;
    font-size: 35px;
    font-weight: 300;
}

</style>
<header class="hero-section mb-3">
     <div class="content">
         <!-- <img src="https://thumbs.dreamstime.com/b/e-commerce-concept-goldfish-cart-47156312.jpg" class="logo" alt=""> -->
         <p class="sub-heading">best fashion collection of all time</p>
     </div>
 </header>

 <div class="d-grid gap-2">
     <a href="{% url 'list_product'%}" class="btn btn-primary">Shop Now</a>

   </div>
     {% endblock %}





